{% extends 'base.html.twig' %}

{% block title %}Anons - Erreur 404{% endblock %}

{% block stylesheets %}
    <link href="css/error.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

<h1> Error - 404 </h1>
<div class="img">
    <img src="image/icon_404.png" alt="icon robot 404">
</div>


<p> La page n'existe pas ou a été supprimé.</p>



{% endblock %}